In [1]:
import numpy as np
import pandas as pd

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect(':memory:')

In [4]:
c = conn.cursor()

In [5]:
c.execute("""CREATE TABLE employees(first text,
                                    last text,
                                    pay integer)""")
conn.commit()

In [6]:
conn = sqlite3.connect('employee.db')
c = conn.cursor()

In [7]:
c.execute("""INSERT INTO employees VALUES('Salar', 'Shahryari', '100000')""")
conn.commit()

In [8]:
c.execute("""SELECT * FROM employees""")
conn.commit()

In [9]:
# c.fetchone() -> 1 per fetch
# c.fetchmany(5) -> 5 rows per fetch
# c.fetchall() -> return all the results

In [10]:
c.fetchone()

('Salar', 'Shahryari', 100000)

In [11]:
class Employee:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
     
    @property
    def email(self):
        return f"{self.first}_{self.last}@email.com"
    
    def full_name(self):
        return f"{self.first} {self.last}"
    
    def __repr__(self):
        return f"Employee('{self.first}, {self.last}, {self.pay}')"

In [12]:
emp1 = Employee('Salar', 'Shahryari', 100000)
emp2 = Employee('Kaveh', 'Behruz', 101000)
emp3 = Employee('Bahareh', 'PurBagher', 90000)
emp4 = Employee('Vahid', 'Esmaili', 80000)

In [13]:
c.execute("INSERT INTO employees VALUES(?, ?, ?)", (emp2.first, emp2.last, emp2.pay))
conn.commit()

In [14]:
c.execute("""SELECT * FROM employees""")
conn.commit()

In [15]:
c.fetchall()

[('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 95000),
 ('Kaveh', 'Behruz', 95000),
 ('Bahareh', 'PurBagher', 90000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 101000)]

In [16]:
c.execute("INSERT INTO employees VALUES(:first, :last, :pay)",
          {'first': emp4.first, 'last': emp4.last, 'pay':emp4.pay})
conn.commit()

In [17]:
c.execute("""SELECT * FROM employees""")
conn.commit()

In [18]:
c.fetchall()

[('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 95000),
 ('Kaveh', 'Behruz', 95000),
 ('Bahareh', 'PurBagher', 90000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 101000),
 ('Vahid', 'Esmaili', 80000)]

In [19]:
def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees VALUES(:first, :last, :pay)",
                  {'first': emp.first, 'last': emp.last, 'pay':emp.pay})

In [20]:
insert_emp(emp4)

In [21]:
c.execute("""SELECT * FROM employees""")
conn.commit()

In [22]:
c.fetchall()

[('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 95000),
 ('Kaveh', 'Behruz', 95000),
 ('Bahareh', 'PurBagher', 90000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 101000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000)]

In [23]:
insert_emp(emp4)
c.execute("""SELECT * FROM employees""")
conn.commit()
c.fetchall()

[('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 95000),
 ('Kaveh', 'Behruz', 95000),
 ('Bahareh', 'PurBagher', 90000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Salar', 'Shahryari', 100000),
 ('Kaveh', 'Behruz', 101000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000),
 ('Vahid', 'Esmaili', 80000)]

In [24]:
def get_employee_by_last_name(last_name):
    c.execute("""SELECT * FROM employees WHERE last=:last""",
              {'last': last_name})
    return  c.fetchall()

In [25]:
def update_pay(emp, pay):
    with conn:
        c.execute("""UPDATE employees SET pay = :pay
        WHERE first = :first AND last = :last""",
                 {'first': emp.first, 'last':emp.last, 'pay': pay})

In [26]:
emp2

Employee('Kaveh, Behruz, 101000')

In [27]:
update_pay(emp2, 95000)

In [28]:
get_employee_by_last_name(emp2.last)

[('Kaveh', 'Behruz', 95000),
 ('Kaveh', 'Behruz', 95000),
 ('Kaveh', 'Behruz', 95000)]

In [29]:
import json
from pathlib import Path

In [30]:
movies = json.loads(Path('my_movies.json').read_text())

In [34]:
movies = movies['movies']

In [35]:
movies

[{'title': 'Tenet', 'Director': 'Nolan', 'Year': 2021},
 {'title': 'Matrix', 'Director': 'Lana Wachowski', 'Year': 1999},
 {'title': 'Pulp Fiction', 'Director': 'Tarantino', 'Year': 1994},
 {'title': 'La La Land', 'Director': 'Damien Chazelle', 'Year': 2018}]

In [36]:
conn = sqlite3.connect(':memory:')

In [37]:
c = conn.cursor()
command = """CREATE TABLE Movies(title text, director text, year integer)"""
c.execute(command)
conn.commit()

In [39]:
command = """INSERT INTO Movies VALUES(:title, :Director, :Year)"""
for m in movies:
    conn.execute(command, m)
conn.commit()

In [40]:
command = """SELECT * FROM Movies"""
list(conn.execute(command))

[('Tenet', 'Nolan', 2021),
 ('Matrix', 'Lana Wachowski', 1999),
 ('Pulp Fiction', 'Tarantino', 1994),
 ('La La Land', 'Damien Chazelle', 2018)]

# PANDAS EXERCISE

In [41]:
hotels = pd.read_csv(r"Data\Pandas Attachment\hotel_booking_data.csv")

In [42]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [43]:
len(hotels)

119390

In [50]:
hotels.isnull().sum().idxmax()
hotels.isnull().sum().max()

112593

In [51]:
print(f"{hotels.isnull().sum().idxmax()} Column has the most null values with: {hotels.isnull().sum().max()} nulls")

company Column has the most null values with: 112593 nulls

In [52]:
hotels.isnull().sum().idxmax()

'company'

In [54]:
hotels = hotels.drop(hotels.isnull().sum().idxmax(), axis=1)

In [56]:
hotels['country']

0         PRT
1         PRT
2         GBR
3         GBR
4         GBR
         ...
119385    BEL
119386    FRA
119387    DEU
119388    GBR
119389    DEU
Name: country, Length: 119390, dtype: object

In [59]:
hotels['country'].value_counts()[:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

In [67]:
hotels['stays_in_weekend_nights'].mean()

0.9275986263506156

In [68]:
import tkinter

In [69]:
tkinter._test()

In [70]:
from tkinter import *

In [78]:
from tkinter import ttk

In [71]:
root = Tk()

In [72]:
Label(root, text="Hello, tkinter!").pack()

In [73]:
root.mainloop()

In [74]:
# >>> from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> button = ttk.Button(root, text='Click ME')
# >>> button.pack()
# >>> button['text']="Press Me!"
# >>> button.config(text='Push Me')
# >>> button.config()

In [82]:
class HelloApp:
    def __init__(self, master):
        self.label = ttk.Label(master, text='Hello, tkinter!')
        self.label.grid(row=0, column=0, columnspan=2)
        ttk.Button(master, text="Texas", command=self.texas_hello).grid(row=1, column=0)
        ttk.Button(master, text="Hawaii", command=self.hawaii_hello).grid(row=1, column=1)
        
    def texas_hello(self):
        self.label.config(text="I am in Texas")
        
        
    def hawaii_hello(self):
        self.label.config(text="I am in Hawaii")

In [83]:
def main():
    root = Tk()
    app = HelloApp(root)
    root.mainloop()

In [84]:
main()

In [86]:
# >>> from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> label = ttk.Label(root, text="Hello, tkinter!")
# >>> label.pack()
# >>> label.config(text="Hi, tkinter!")
# >>> label.config(text="Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.")
# >>> label.congif(wraplength=15)
# >>> label.config(wraplength=15)
# >>> label.config(wraplength=100)
# >>> label.config(wraplength=200)
# >>> label.config(foreground="blue")
# >>> label.config(background="#FFFF00")
# >>> label.config(font=('Arial', 20, 'bold'))
# >>> label.config(text="Hi, tkinter!")
# >>> logo = PhotoImage(file=r"...")
# >>> label.config(image=logo)
# >>> label.cofig(compound='text')
# >>> label.config(compound='text')
# >>> label.config(compound='image')
# >>> label.config(compound='center')
# >>> label.config(compound='left')
# >>> label.img = logo
# >>> label.config(image=label.img)

In [87]:
# from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> button = ttk.Button(root, text="Click Me")
# >>> button.pack()
# >>> def callback():
# 	print("Clicked!")

# >>> button.config(command=callback)

# >>> button.invoke()
# Clicked!
# 'None'
# >>> button.state(['disabled'])
# ('!disabled',)
# >>> button.state(['!disabled'])
# ('disabled',)
# >>> logo = PhotoImage(file=r"...")
# >>> button.config(image=logo, compound=LEFT)
# >>> small_logo = logo.subsample(5, 5)
# >>> button.config(image=small_logo)

https://tcl.tk/man/tcl/TkCmd/ttk_widget.htm#M22

In [88]:
# > from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> checkbutton = ttk.Checkbutton(root, text="SPAM?")
# >>> checkbutton.pack()
# >>> spam = StringVar()
# >>> spam.set("spam!")
# >>> spam.get()
# 'spam!'
# >>> checkbutton.config(variable=spam, onvalue='YES', offvalue='No')
# >>> spam.get()
# 'YES'
# >>> spam.get()
# 'No'
# >>> breakfast = StringVar()
# >>> ttk.Radiobutton(root, text='SPAM', variable= breakfast, value='SPAM').pack()
# >>> ttk.Radiobutton(root, text='Eggs', variable= breakfast, value='Eggs').pack()
# >>> ttk.Radiobutton(root, text='Bread', variable= breakfast, value='Bread').pack()
# >>> breakfast.get()
# 'Bread'
# >>> breakfast.get()
# 'Eggs'
# >>> checkbutton.config(textvariable=breakfast)
# >>>

In [89]:
# >>> from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> entry = ttk.Entry(root, width=30)
# >>> entry.pack()
# >>> entry.get()
# 'Python Bootcamp'
# >>> entry.delete(0, 1)
# >>> entry.delete(0, END)
# >>> entry.insert(0, 'Enter your Password!')
# >>> entry.config(show='*')
# >>> entry.get()
# 'MyPassword'
# >>> entry.state(['disabled'])
# ('!disabled',)
# >>> entry.state(['!disabled'])
# ('disabled',)
# >>> entry.state(['readonly'])
# ('!readonly',)

In [90]:
# from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> month = StringVar()
# >>> combobox = ttk.Combobox(root, textvariable=month)
# >>> combobox.pack()
# >>> combobox.config(values=('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'))
# >>> combobox.get()
# 'Jan'
# >>> combobox.set('Dec')

In [91]:
# >>> from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> progressbar = ttk.Progressbar(root, orient=HORIZONTAL, length=200)
# >>> progressbar.pack()
# >>> progressbar.config(mode='indeterminate')
# >>> progressbar.start()
# >>> progressbar.stop()
# >>> progressbar.config(mode='determinate', maximum=100, value=30)
# >>> progressbar.config(value=50)
# >>> progressbar.step()
# >>> progressbar.step(20)
# >>> progressbar.step(30)
# >>> value = DoubleVar()
# >>> progressbar.config(variable=value)
# >>> scale = ttk.Scale(root, orient=HORIZONTAL, length=400, variable=value, from_=0.0, to= 100.0)
# >>> scale.pack()

In [92]:
# >>> from tkinter import *
# >>> from tkinter import ttk
# >>> root = Tk()
# >>> frame = ttk.Frame(root)
# >>> frame.pack()
# >>> frame.config(height=100, width=100)
# >>> frame.config(relief=RIDGE)
# >>> frame.config(relief=FLAT)
# >>> frame.config(relief=SOLID)
# >>> ttk.Button(frame, text="Click Me").unpack()
# >>> ttk.Button(frame, text="Click Me").pack()
# >>> frame.config(relief=RIDGE)
# >>> frame.config(padding=(30, 10))
# >>> ttk.LabelFrame(root, height=100, width=200, text="My Label Frame").pack()